<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AMATrace"
        tools:targetApi="31">
        <activity
            android:name=".pages.consumer.ui.detail.DetailScanConsumerActivity"
            android:exported="false" />
        <activity
            android:name=".pages.consumer.ConsumerMainActivity"
            android:exported="false" />
        <activity
            android:name=".pages.producer.ui.detail.rawProduk.DetailRawProdukActivity"
            android:exported="false" />
        <activity
            android:name=".pages.producer.ui.detail.rawProduk.RawProdukActivity"
            android:exported="false" />
        <activity
            android:name=".pages.consumer.ConsumerQRCodeScannerActivity"
            android:exported="false" />
        <activity
            android:name=".pages.producer.ui.home.QRCodeScannerActivity"
            android:exported="false" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            tools:replace="screenOrientation" />
        <activity
            android:name=".pages.producer.ui.detail.batchproduk.DetailBatchProducerActivity"
            android:exported="false" />
        <activity
            android:name=".pages.producer.ui.detail.productproducer.DetailProdukProducerActivity"
            android:exported="false" />
        <activity
            android:name=".pages.producer.ui.tambahbatchproducer.AddBatchProducerActivity"
            android:exported="false" />
        <activity
            android:name=".pages.producer.ui.tambahprodukproducer.AddProdukProducerActivity"
            android:exported="false" />
        <activity
            android:name=".pages.producer.ui.detail.tambahclaim.UploadSertifikatProducerActivity"
            android:exported="false" />
        <activity
            android:name=".pages.supplier.ui.detail.tambahclaim.UploadSertifikatActivity"
            android:exported="false" />
        <activity
            android:name=".pages.producer.ui.detail.tambahclaim.TambahClaimProducerActivity"
            android:exported="false" />
        <activity
            android:name=".pages.supplier.ui.detail.tambahclaim.TambahClaimActivity"
            android:exported="false" />
        <activity
            android:name=".pages.supplier.ui.detail.product.DetailProductActivity"
            android:exported="false" />
        <activity
            android:name=".pages.supplier.ui.detail.shipping.DetailShippingActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".pages.supplier.ui.tambahpengiriman.QRCodeActivity"
            android:exported="false" />
        <activity
            android:name=".pages.producer.ui.tambahbatchproducer.QRCodeBatchActivity"
            android:exported="false" />
        <activity
            android:name=".pages.supplier.BottomSupplierActivity"
            android:exported="false"
            android:label="@string/title_activity_bottom_supplier" />
        <activity
            android:name=".pages.supplier.ui.tambahpengiriman.TambahPengirimanActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6630861059433345~8149802115" />

        <activity
            android:name=".pages.supplier.ui.tambahproduk.TambahProdukActivity"
            android:exported="false" />
        <activity
            android:name=".pages.producer.ProducerMainActivity"
            android:exported="false"
            android:label="@string/title_activity_producer_main"
            android:theme="@style/Theme.AMATrace.NoActionBar" />
        <activity
            android:name=".pages.supplier.MainSupplierActivity"
            android:exported="false"
            android:label="@string/title_activity_main_supplier"
            android:theme="@style/Theme.AMATrace.NoActionBar" />
        <activity
            android:name=".pages.lupaPassword.lupaPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".pages.landing.LandingActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".pages.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".pages.login.LoginActivity"
            android:exported="false" />
    </application>

</manifest>